<%= form_with model: post do |form| %>
   <div class="container">
     <%= form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% post.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'ckeditor'%>
  </div>

      <% post.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
    </div>
  <% end %>


  