<div class="container mt-4">
<h1><%= @category.name %> Posts</h1>
<br>
<%= link_to "New Post", new_post_path , class: "btn btn-primary" %>
<% @posts.each do |post| %>
  <div class="container mt-4 mb-4 p-3" style="max-width: 1200px;"> 
    <div class="card d-flex flex-column flex-md-row">

      <div class="card-body d-flex flex-column justify-content-between">
        <h3 class="card-title"><%= post.title %></h3>
        <p class="card-text"><%= truncate(post.body.gsub(/<[^>]*>/, ''), length: 200) %></p>
        <%= link_to 'Read more', post_path(post), class: 'btn btn-primary' %>
      </div>

      <% if post.post_images.attached? %>
      <% post.post_images.each do |image| %>
        <%= image_tag image ,style:"width:400px; height:250px;" %>
      <% end %>
      <% end %>
    </div>

    <hr style="height:2px; background-color:#ddd;">
  </div>
<% end %>
</div>

<%= paginate @posts %>